<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet id="Servlet_1">
       <servlet-name>Hello Pervasive Servlet</servlet-name>
       <display-name>Hello Pervasive Servlet</display-name>
       <description>This servlet utilizes the IBM WebSphere Application Server PageList and Client Detection Support.</description>
       <servlet-class>com.redhat.servlets.HelloPervasiveServlet</servlet-class>
       <load-on-startup></load-on-startup>
    </servlet>	
    <servlet-mapping id="ServletMapping_1">
       <servlet-name>Hello Pervasive Servlet</servlet-name>
       <url-pattern>/hello</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>